body {
    background-color: #262729;
    margin: 0;
    height:99svh;
    width: 99svw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: portrait) {
.imageArea {
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    height:139svw;
    width: 99svw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.theMiddleBit {
    padding-left: 21svw;
    padding-right: 21svw;
    width: auto;
    height:auto;
    text-align: center;
}
.headerPadding {
    height: 42svw;
    width: 99svw;
}

.footerPadding {
    height:21svw;
    width: 99svw;
}

}

@media (orientation: landscape) {
 .imageArea {
    background-image: url(./images/backgroundLandscape.png);
    background-position: center;
    background-size: cover;
    height:99svh;
    width: 139svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.theMiddleBit {
    padding-left: 21svh;
    padding-right: 21svh;
    width: auto;
    height:auto;
    text-align: center;
}
.headerPadding {
    height: 42svh;
    width: 139svh;
}

.footerPadding {
    height:21svh;
    width: 139svh;
}   
}


li {
    list-style: none;
}

ul {
    padding: 0;
}

a,h3,li {
    color:#7b608f
}
p {
    color:#7587dc
}

a,p,h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: small;
}

