body {
    background-color: #262729;
    margin: 0;
    height:99vh;
    width: 99vw;
    display: flex;
    justify-content: center;
}

img {
    height: 99vh;
    width: auto;
}

.textStuff {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

li {
    list-style: none;
    /* color: #7587dc; */
    color: #7b608f;

}

a {
    color:#7b608f
}
p {
    color:#7587dc
}

