body {
    background-color: #262729;
    margin: 0;
    height:99vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imageArea {
    background-image: url(./images/backgroundLandscape.png);
    background-position: center;
    background-size: cover;
    height:99vh;
    width: 139vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.theMiddleBit {
    padding-left: 21vh;
    padding-right: 21vh;
    width: auto;
    height:auto;
    text-align: center;
}
.headerPadding {
    height: 42vh;
    width: 139vh;
}

.footerPadding {
    height:21vh;
    width: 139vh;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a,h3,li {
    color:#7b608f
}
p {
    color:#7587dc
}

a,p,h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: small;
}

